asgiref==3.7.2
cryptography==44.0.2
defusedxml==0.7.1
Django==4.2.3
django-debug-toolbar==4.1.0
django-filter==25.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
djoser==2.3.1
drf-nested-routers==0.94.1
factory-boy==3.3.0
Faker==19.1.0
idna==3.10
mysqlclient==2.2.0
oauthlib==3.2.2
pycparser==2.22
python-dateutil==2.8.2
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
social-auth-app-django==5.4.3
social-auth-core==4.5.6
sqlparse==0.4.4
tzdata==2025.1
urllib3==2.4.0
